/*  your css code here. If applicable */
body{
	display: block;
}
.card{
	background-color: hsl(0, 0%, 90%);
	text-align: center;
	height:739;
	width: 577;
}
.elements{
	margin:100px 30px 30px 30px;
}
img{

}
